/* common shared styles */
body{
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'PT Serif', serif;
   font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    padding: 18px 20px;
    font-size: 1.25rem;
    font-weight: 600;
     cursor: pointer;
}
.text-light-grey{
    color: #727272;
}
.section-title{
    font-size: 2.8em;
    font-weight: 700;
    color: #131313;
}
/* header section styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav> ul{
     display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #424242;
}
/* banner-section styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-img{
    margin-top: 40px;
}
.banner-img img{
    width: 100%;
}
.banner-title{
    font-size:64px;
    font-weight: 700;
    color: #131313;
}
/* main section styles */
main{
    max-width: 1440px;
    margin: 80px auto;
}
/* teams-section styles */
    .teams-container{
         display: flex;
         align-items: center; 
         padding: 25px;
    }
   .teams-container-img{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 24px;
   }
   .teams-content{
     padding-left: 70px;
     padding-right: 70px;
   }
   .teams-title{
      font-size: 2.8rem;
   }
   .quick-list{
     color:#727272;
     font-weight: 500;
   }
   .of-our{
      color: #131313;
      font-weight: 700;
   }
   .text-features{
    color: #FF900E;
    font-weight: 700;
   }

   /* features styles */
   .features-container{
        display: flex;
        gap: 126px;
        margin-top: 120px;
        padding: 0 40px;
   }
   .features-img{
      width:50%;
   }
   .features-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 8px rgba(0, 0, 0, 0.06);
    padding:15px;
    margin-bottom: 20px;
   }
   .features-card h4{
    font-size: 20px;
    font-weight: 600;
   }
   #features-title{
      border-left: 5px solid #FF900E;
      padding-left: 20px ;
   }
   .features-img img{
     height: 90%;
     margin-left: 90px;
   }
   .years-badge{
    border-radius: 8px;
    background: #FF900E;
    width: 332px;
    color: #FFF;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 110px;
    right:60px;

   }
   .years-badge h2{
     font-size:65px;
     margin: 0;
   }
   .years-badge p{
    font-size: 24px;
   }


  /* facts-card styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 8px black;
    margin-left: 30px;
}
.facts-card-container .card-sacts{
    font-size: 45px;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-size:20px;
    font-weight: 600;
    color: #727272;
}

/* sponsors section styles */
.sponsors{
    text-align: center;
    margin-top: 160px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

/* footer styles */









/* responsive styles */
/* mobile devices */
@media screen and (max-width:576px) {
        header{
             padding:10px;
        }
        nav, .teams-container, .facts-card-container, .sponsors-img-container, .features-container{
             flex-direction: column;
        }
        .teams-container-img{
             grid-template-columns: repeat(1,1fr);
        }
        .teams-content , .facts-card-container{
            padding-left: 20px;
            padding-right: 20px;
        }
         .facts-card-container, .sponsors-img-container{
             gap: 10px;
        } 
        .facts-card-container .card{
            gap: 30px;
            padding-left: 0;
            padding-right: 0;
        }
        .features-img{
            width: 100%;
        }
        .features-img  img{
            height:90%;
            width: 100%;
            margin-left: 0;
            
        }
        .years-badge{
            position: relative;
            max-width: 250px;
            margin-left:20px;
        }
}
/* medium device or tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding:10px;
   }
   .teams-container, .sponsors-img-container, .features-container{
    flex-direction: column;
  }
  .teams-container-img{
     grid-template-columns: repeat(1,1fr);
  }
  .years-badge{
     right: 0;
  }
}